<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app clipped>
      <v-list dense rounded>
        <v-list-item
          v-for="item in items"
          :key="item.text"
          @click="item.fun"
          :to="item.path"
          link
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>

          <v-list-item-content>
            <v-list-item-title>
              {{ item.text }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app clipped-left color="blue" dense>
      <!-- Es para esconder la barra lateral (son las tres rayas) -->
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />

      <v-icon class="mx-4" large>
        mdi-alpha-m-circle
      </v-icon>

      <v-toolbar-title class="mr-12 align-center">
        <span class="title">Mumalabs </span>
      </v-toolbar-title>

      <v-spacer />

      <!--tamaño de la barra de busqueda-->
      <v-row align="center" style="max-width: 200px">
        <div class="my-2">
          <v-btn color="secondary" fab x-small dark>
            <v-icon>mdi-account-circle</v-icon>
          </v-btn>
        </div>
        User: {{ username }}
      </v-row>
    </v-app-bar>

    <v-parallax class="fill-height" height="100%" src="@/assets/fondo.jpg">
      <v-container>
        <router-view></router-view>
      </v-container>
    </v-parallax>

    <v-footer class="blue">
      <v-card-text class=" .font-italic font-weight-bold text-center">
        &copy;2020 — <strong>Mumalabs Fase Alfa</strong>
      </v-card-text>
    </v-footer>
  </v-app>
</template>

<script>
import store from "../store";
import router from "../router/index"
//import userContainersService from "../services/UserContainersService.js";
//import containersService from "../services/ContainersService.js";
export default {
  props: {
    source: String,
    username: String
  },

  data: () => ({
    drawer: null,
    items: [
      { 
        icon: "mdi-docker", 
        text: "Images", 
        path: "images",
        fun:()=>{} 
      },

      {
        icon: "mdi-docker",
        text: "My containers",
        path: "mis-userContainers",
        fun:()=>{
          /* Añadir carga de los contenedores y los contenedores del usuario */
        }
      },

      {
        icon: "mdi-account-circle-outline",
        text: "My profile",
        path: "mi-perfil",
        fun:()=>{}
      },

      {
        icon: "mdi-exit-run ",
        text: "Log out",
        fun: () => {
          store.dispatch("logout").then(
            () => {
              router.push("/login")
              
            }
            //limpiamos caché
          );
        }
      }
    ]
  }),

  created() {
    this.$vuetify.theme.dark = true;
  },

  methods: {
 
  }
};
</script>
