<template>
  <div class="about">
    <v-card class="mx-auto">
      <v-app-bar dark color="pink">
        <v-toolbar-title>IMAGES</v-toolbar-title>
      </v-app-bar>

      <v-container>
        <v-row dense>
          <v-col v-for="(item, i) in items" :key="i" cols="12">
            <!--Posteriormente se cambiara el time por el que obtenga del contenedor creado en docker, al igual que con el estado
            , que inicielmente parte con estado = UP-->
            <CardImage
              :user="itemm.id"
              :name="item.name"
              :imgID="item.id"
              :status="states"
              :time="times"
            />
          </v-col>
        </v-row>
      </v-container>

      <v-dialog
        v-model="dialog"
        persistent
        max-width="600px"
        position="right"
        class="align-end"
      >
        <template v-slot:activator="{ on }">
          <v-btn color="primary" dark v-on="on">NEW IMAGE</v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">New Image</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    v-model="name"
                    :counter="40"
                    label="Image Name*"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
            <small>*Required</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
            <v-btn color="success" class="mr-4" @click="save">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card>
  </div>
</template>

<script>
import store from "../store/index";
const images = store.state.images;
const user = store.state.user;
import imageService from "../services/ImagesService.js";

import CardImage from "@/components/CardImage.vue";

export default {
  name: "Images",
  components: {
    CardImage
  },
  data() {
    return {
      dialog: false,
      items: images,
      itemm: user,
      /* GUARDAR EN STATES EL ESTADO CONCRETO Y EN TIMES SU TIEMPO */
      /* VALORES TEMPORALES */
      states: "Up",
      times: "35 seconds ago"
    };
  },
  methods: {
    save: function() {
      /* ADD POST CONTAINER */
      imageService
        .postImage(
        {
          name: this.name
        })
        .then(response => {
          alert("Image created correctly!");
          this.$store.dispatch("images", response.data).then(() => {
            const username = this.$store.state.user.name;
            this.$router.push({ path: `/app/user/${username}/images` });
            imageService.getImagesList().then(response => {
              this.$store.dispatch("images", response.data);
              this.$router.go();
            });
          });
        })
        .catch(function(error) {
          console.log(error);
          alert("IMAGE ERROR");
        });
    }
  }
};
</script>
