<template>
  <v-app>
    <v-content>
      <v-toolbar dense color="cyan">
        Welcome to Mumalabs!. Please Login...
      </v-toolbar>

      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-card width="600" class="mx-auto mt-5" justify="center">
              <v-card-title>
                <h1 class="display-1">Login</h1>
              </v-card-title>
              <v-card-text>
                <v-form>
                  <v-text-field
                    v-model="name"
                    label="NickName"
                    prepend-icon="mdi-account-circle"
                    type="text"
                  />
                  <v-text-field
                    v-model="password"
                    :type="showPassword ? 'text' : 'password'"
                    label="Password"
                    prepend-icon="mdi-lock"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="showPassword = !showPassword"
                  />
                </v-form>
              </v-card-text>
              <v-divider></v-divider>
              <v-card-actions>
                <v-btn color="info" :to="{ path: 'registro' }">Register</v-btn>
                <v-spacer></v-spacer>
                <v-btn color="success" @click="login">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>

    <v-footer class="blue">
      <v-card-text class=" .font-italic font-weight-bold text-center">
        &copy;2020 — <strong>Mumalabs beta phase</strong>
      </v-card-text>
    </v-footer>
  </v-app>
</template>

<script> 
import loginRegisterSevice from "../services/LoginRegisterService.js";
import userContainersService from "../services/UserContainersService.js";
import containersService from "../services/ContainersService.js";
import imagesService from "../services/ImagesService.js";
import store from "../store";
export default {
  name: "Login",
  data() {
    return {
      showPassword: false,
      name: "",
      password: ""
    };
  },
  methods: {
    login: function() {
      loginRegisterSevice
        .postLogin({
          name: this.name,
          email: this.email,
          password: this.password
        })

        .then(response => {
          alert("Welcome");

          this.$store.dispatch("login", response.data).then(() => {
            const username = this.$store.state.user.name;
            this.$router.push({ path: `/app/user/${username}/images` });
            imagesService.getImagesList().then(response => {
              this.$store.dispatch("images", response.data);
            });

            containersService.getContainersList().then(response => {
              this.$store.dispatch("containers", response.data);
            });

            userContainersService
              .getUserContainersByUser(store.state.user.id)
              .then(response => {
                this.$store.dispatch("userContainers", response.data);
              });
          });
        })
        .catch(function(error) {
          console.log(error);
          alert("wrong username or password");
        });
    }
  },

  components: {}
};
</script>
