<template>
  <v-card>
    <v-toolbar flat color="primary" dark>
      <v-toolbar-title>User Profile</v-toolbar-title>
    </v-toolbar>
    <v-tabs vertical>
      <v-tab>
        <v-icon left>mdi-account</v-icon>
        User
      </v-tab>
      <v-tab>
        <v-icon left>mdi-gmail</v-icon>
        Email
      </v-tab>
      <v-tab>
        <v-icon left>mdi-arrow-vertical-lock</v-icon>
        Rol
      </v-tab>

      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <h2>{{ account[0].name }}: {{ account[0].datos }}</h2>
            <br />
            <h2>{{ account[1].name }}: {{ account[1].datos }}</h2>
            <br />

            <h2>{{ account[4].name }}: {{ account[4].datos }}</h2>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <h2>{{ account[3].name }}: {{ account[3].datos }}</h2>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <h2>{{ account[2].name }}: {{ account[2].datos }}</h2>
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs>
  </v-card>
</template>

<script>
import store from "../store/index";
const user = store.state.user;

export default {
  data() {
    return {
      account: [
        {
          name: "Name",
          datos: user.name
        },
        {
          name: "User",
          datos: user.name
        },
        {
          name: "Rol",
          datos: user.rol
        },
        {
          name: "Email",
          datos: user.email
        },
        {
          name: "ID",
          datos: user.id
        }
      ]
    };
  }
};
</script>
