<template>
  <v-timeline :dense="$vuetify.breakpoint.smAndDown">
    <v-timeline-item
      v-for="(item, i) in items"
      :key="i"
      :color="colores[i % 5]"
    >
      <CardUserContainer
        :containerName="itemm[i].name"
        :containerID="item.containerId"
        :userContainerID="itemm[i].id"
        :estado="itemm[i].status"
        :user="itemmm.id"
        :color="colores[i % 5]"
        :time="itemm[i].time"
      />
    </v-timeline-item>
  </v-timeline>
</template>
<script> 
import store from "../store/index";
const userContainers = store.state.userContainers;
const containers = store.state.containers;
const user = store.state.user;
import CardUserContainer from "@/components/CardUserContainer.vue";


export default {
  name: "UserContainers",
  components: {
    CardUserContainer
  },
  data() {
    return {
      items: userContainers,
      itemm: containers,
      itemmm: user,
      colores: [
        "green lighten-1",
        "red lighten-1",
        "cyan lighten-1",
        "amber lighten-1",
        "purple lighten-2"
      ]
    };
  }
};
</script>
