<template>
  <v-app>
    <v-content>
      <v-toolbar dense color="cyan">
        Welcome to Mumalabs!. Please Register...
      </v-toolbar>

      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-card width="900" class="mx-auto mt-5" justify="center">
              <v-card-title>
                <h1 class="display-1">Register</h1>
              </v-card-title>

              <v-form ref="form" v-model="valid" lazy-validation>
                <v-text-field
                  v-model="name"
                  :counter="10"
                  :rules="nameRules"
                  label="NickName"
                  required
                ></v-text-field>

                <v-text-field
                  v-model="email"
                  :rules="emailRules"
                  label="E-mail"
                  required
                ></v-text-field>

                <v-text-field
                  v-model="password"
                  :type="showPassword ? 'text' : 'password'"
                  label="Password"
                  prepend-icon="mdi-lock"
                  :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="showPassword = !showPassword"
                />

                <v-checkbox
                  v-model="checkbox"
                  :rules="[v => !!v || 'You must agree to continue!']"
                  label="Do you agree?"
                  required
                ></v-checkbox>

                <v-btn
                  :disabled="!valid"
                  color="success"
                  class="mr-4"
                  @click="validate"
                >
                  Validate
                </v-btn>

                <v-btn color="error" class="mr-4" @click="reset">
                  Reset Form
                </v-btn>

                <v-btn color="warning" @click="resetValidation">
                  Reset Validation
                </v-btn>
              </v-form>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>

    <v-footer class="blue">
      <v-card-text class=" .font-italic font-weight-bold text-center">
        &copy;2020 — <strong>Mumalabs beta phase</strong>
      </v-card-text>
    </v-footer>
  </v-app>
</template>

<script>
import loginRegisterSevice from "../services/LoginRegisterService.js";
export default {
  name: "Registro",
  data: () => ({
    valid: true,
    name: "",
    nameRules: [
      v => !!v || "Name is required",
      v => (v && v.length <= 10) || "Name must be less than 10 characters"
    ],
    email: "",
    emailRules: [
      v => !!v || "E-mail is required",
      v => /.+@.+\..+/.test(v) || "E-mail must be valid"
    ],
    select: null,
    password: "",
    checkbox: false,

    showPassword: false
  }),
  methods: {
    register: function() {
      loginRegisterSevice
        .postRegister({
          name: this.name,
          email: this.email,
          password: this.password
        })
        .then(response => {
          alert("User successfully registered");
          this.$router.push({ path: `/login` });
          console.log(response);
        })

        .catch(function(error) {
          console.log(error);
          alert("ERROR! A user with that name already exists");
        });
    },

    validate: function() {
      if (this.$refs.form.validate()) {
        this.register();
      }
    },
    reset: function() {
      this.$refs.form.reset();
    },
    resetValidation: function() {
      this.$refs.form.resetValidation();
    }
  }
};
</script>
