<template>
  <v-card>
    <v-card-title :class="color">
      <v-container>
        <v-row>
          <v-col cols="1" md="8">
            <v-icon dark size="42" class="mr-4">mdi-docker</v-icon>
            Name: {{ containerName }}
          </v-col>
        </v-row>
      </v-container>
    </v-card-title>
    <v-container>
      <v-card-text>
        <v-row>
          <v-col cols="4" md="6">
            <div v-if="estado.includes('Up')">
              Status: <v-btn depressed color="success">UP</v-btn>
            </div>
            <div v-if="estado.includes('Exited')">
              Status: <v-btn depressed color="error">EXITED</v-btn>
            </div>
          </v-col>
          <v-col>
            <div>
              Time: {{time}}
            </div>
          </v-col>
        </v-row>
        <v-row>
          Actions:
          <div v-if="estado.includes('Exited')">
            <v-btn depressed color="success" @click="arrancar"
              >RUN CONTAINER</v-btn
            >
          </div>
          <div v-if="estado.includes('Up')">
            <v-btn depressed color="error" @click="parar"
              >STOP CONTAINER</v-btn
            >
          </div>
          <v-spacer></v-spacer>
          <div v-if="!estado.includes('Up')">
            <v-btn depressed color="error" @click="borrar"
              >DELETE CONTAINER</v-btn
            >
          </div>
        </v-row>
      </v-card-text>
    </v-container>
  </v-card>
</template>

<script>
import userContainerService from "../services/UserContainersService.js";
import containerService from "../services/ContainersService.js";
export default {
  name: "CardUserContainer",
  data() {
    return {
      dialog: false,
      nuevoStateParado: "Exited",
      nuevoStateCorriendo: "Up",
      container: JSON
    };
  },
  props: {
    name: String,
    containerID: Number,
    containerName: String,
    color: String,
    userContainerID: Number,
    estado: Number,
    user: Number,
    time: String
  },
  created() {
    containerService.getContainer(this.containerID).then(response => {
      this.container = response.data;
    });
  },
  methods: {
    borrar: function() {
      userContainerService
        .deleteUserContainer({
          name: this.containerName
        },
        this.userContainerID)
        .then(response => {
          alert("Container cleared successfully");
          
          this.$store.dispatch("userContainers", response.data).then(() => {
            
            containerService.getContainersList().then(response => {
              this.$store.dispatch("containers", response.data);
            });
            
            userContainerService
              .getUserContainersByUser(this.user)
              .then(response => {
                this.$store.dispatch("userContainers", response.data);
                this.$router.go();
              });
          });
        })

        .catch(function(error) {
          console.log(error);
          alert("Container running error");
        });
    },
 
    parar: function() {
      userContainerService
        .modifiedUserContainer(
          {
            usuarioId: this.user,
            name: this.containerName,
            imageID: this.imagenId,
            status: this.nuevoStateParado
          },
          this.containerID
        )

        .then(response => {
          alert("Container modified successfully");
          this.$store.dispatch("userContainers", response.data).then(() => {
            
            containerService.getContainersList().then(response => {
              this.$store.dispatch("containers", response.data);
            });

            userContainerService
              .getUserContainersByUser(this.user)
              .then(response => {
                this.$store.dispatch("userContainers", response.data);
                this.$router.go();
              });
          });
        })

        .catch(function(error) {
          console.log(error);
          alert("Error modifying container");
        });
    },

    arrancar: function() {
      userContainerService
        .modifiedUserContainer(
          {
            usuarioId: this.user,
            name: this.containerName,
            imageID: this.imagenId,
            status: this.nuevoStateCorriendo
          },
          this.containerID
        )

        .then(response => {
          alert("Container modified successfully");
          this.$store.dispatch("userContainers", response.data).then(() => {
            
            containerService.getContainersList().then(response => {
              this.$store.dispatch("containers", response.data);
            });

            userContainerService
              .getUserContainersByUser(this.user)
              .then(response => {
                this.$store.dispatch("userContainers", response.data);
                this.$router.go();
              });
          });
        })

        .catch(function(error) {
          console.log(error);
          alert("Error modifying container");
        });
    }
  }
};
</script>
