<template>
  <v-card color="#385F73" dark>
    <v-layout row>
      <v-flex xs1></v-flex>
      <v-flex row>
        <v-card-actions>
          <v-btn text>Name: {{ name }} </v-btn>
        </v-card-actions>
      </v-flex>
      <v-flex xs1></v-flex>
      <v-flex xs2>
        <v-card-actions>
          <v-btn text>ID: {{ imgID }} </v-btn>
        </v-card-actions>
      </v-flex>
      <v-flex xs1></v-flex>
      <v-flex xs2>
        <v-card-actions>
          <v-dialog
            v-model="dialog"
            persistent
            max-width="600px"
            position="right"
            class="align-end"
          >
            <template v-slot:activator="{ on }">
              <v-btn color="primary" dark v-on="on">RUN</v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">RUN CONTAINER</span>
              </v-card-title>
              <v-col cols="12">
                <v-text-field v-model="containerName" label="Container Name*" required></v-text-field>
              </v-col>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="dialog = false"
                  >Close</v-btn
                >
                <v-btn color="success" class="mr-4" @click="save">RUN</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-card-actions>
      </v-flex>
    </v-layout>
    <v-layout row></v-layout>
  </v-card>
</template>

<script>
import containerService from "../services/ContainersService.js";
import userContainersService from "../services/UserContainersService.js";

export default {
  name: "CardImage",
  data() {
    return {
      dialog: false,
      notifications: false,
      sound: true,
      widgets: false,
      containerName: ""
    };
  },
  props: {
    name: String,
    imgID: Number,
    status: String,
    user: Number,
    time: String
  },
  methods: {
    save: function() {
      /* ADD POST CONTAINER */

      containerService
        .postUserContainer(
          {
            status: this.status,
            imageID: this.imgID,
            name: this.containerName,
            /* Guardamos el tiempo de la creacion del contenedor */
            time: this.time,
          },
          this.user
        )
        .then(response => {
          alert("Container created and running correctly!");
          
          this.$store.dispatch("userContainers", response.data).then(() => {
            
            containerService.getContainersList().then(response => {
              this.$store.dispatch("containers", response.data);
            });

            userContainersService
              .getUserContainersByUser(this.user)
              .then(response => {
                this.$store.dispatch("userContainers", response.data);
                this.$router.go();
              });
              
          });
          
          
        })
        .catch(function(error) {
          console.log(error);
          alert("Container name already exists or is invalid!");
        });
    }
  }
};
</script>
